
* {
  padding: 0;
  box-sizing: border-box;
  margin: auto;
  width: 400px;
}

body {
  text-align: center;
  background-color: beige;
}

@media screen {
   body{
     width: 100%;
  }
}

.players {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .players{
    display: list-item;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  #B {
    margin-top: 20px;
  }
}



#btna{
  box-shadow:5px 5px 5px 5px rgb(112, 138, 139);
  background-color: rgb(75, 74, 78);
  color: rgb(22, 206, 230);
}
#btnb{
  box-shadow:5px 5px 5px 5px rgb(112, 138, 139);
  background-color: rgb(77, 77, 102);
  color: rgb(26, 205, 211);
}
@media (max-width: 480px) {
  button {
      width: 10px;
      font-size: 14px;
      padding: 8px 16px;
  }
}

.container {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(53, 179, 151);
}

.boxes {
  border: 1px solid rgb(245, 246, 247);
  width: 32%;
  height: 32%;
  padding: 20px;
  text-align: center;
  color: rgb(53, 3, 53);
  font-size: 30px;
}
h1{

  text-align: center;
  margin-top:  20px; 
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgb(112, 138, 139);
  background-color: rgb(27, 32, 112);
  color: rgb(250, 247, 247);
}


      
